.vscode
node_modules
accounts
accountparser.js
doStuffWithAllAccounts.js
manualLogin.js
accounts.json
turnOffSteamGuard.js
input.txt

checkProxy.js
test.js

config.json
config_report.json
config_reportserver.json
config_undocommends.json
