[
	{
        "username": "AccountUsername",
        "password": "AccountPassword",
        "sharedSecret": "OptionalSharedSecret",
        "operational": true,
        "lastCommend": -1,
        "lastReport": -1,
        "lastServerReport": -1,
        "requiresSteamGuard": false,
        "commended": []
    },
	{
        "username": "AccountUsername123",
        "password": "AccountPassword123",
        "sharedSecret": "",
        "operational": true,
        "lastCommend": -1,
        "lastReport": -1,
        "lastServerReport": -1,
        "requiresSteamGuard": false,
        "commended": []
    }
]