{
	"SteamAPIKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
	"AccountToCommend": "https://steamcommunity.com/id/gabelogannewell/",
	"CommendsToSend": 5,
	"Commend": {
		"Friendly": true,
		"Teacher": true,
		"Leader": true
	},
	"AccountCooldown": 43200000,
	"RateLimitedCooldown": 5400000,
	"Chunks": {
		"CommendsPerChunk": 100,
		"SwitchProxyEvery": 2,
		"TimeBetweenChunks": 60000,
		"TimeBetweenConnectionAndSending": 2000,
		"BeautifyDelay": 10000
	},
	"Proxies": []
}
