{
	"SteamAPIKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
	"AccountToCommend": "https://steamcommunity.com/id/gabelogannewell/",
	"CommendsToRemove": 10,
	"AccountCooldown": 43200000,
	"RateLimitedCooldown": 5400000,
	"Chunks": {
		"CommendsPerChunk": 100,
		"SwitchProxyEvery": 2,
		"TimeBetweenChunks": 15000,
		"TimeBetweenConnectionAndSending": 500,
		"BeautifyDelay": 2500
	},
	"Proxies": []
}
