{
	"commend": {
		"friendly": true,
		"teaching": true,
		"leader": true
	},
	"account": {
		"username": "",
		"password": "",
		"sharedSecret": ""
	},
	"method": "SERVER",
	"target": "https://steamcommunity.com/id/gabelogannewell",
	"serverID": "[A:1:1621585931:12649]",
	"matchID": "0",
	"toSend": 40,
	"perChunk": 20,
	"betweenChunks": 300000,
	"cooldown": 28800000,
	"steamWebAPIKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}
